.result-container {
  padding: 30px;
}

.score {
  text-align: center;
  margin-bottom: 30px;
}

.correction-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.correct {
  color: green;
  font-weight: bold;
}

.incorrect {
  color: red;
  font-weight: bold;
}