@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
}

body {
  background:
    radial-gradient(circle at top left, #34d39922 0%, transparent 25%),
    radial-gradient(circle at bottom right, #10b98122 0%, transparent 25%),
    linear-gradient(135deg,
      #f0fdf4,
      #dcfce7,
      #ecfdf5);

  background-attachment: fixed;
}